 /* **Below is the code for logo animation & colors */
.wrapper {
  display: flex;
  width: 100%;
  margin-left: 20px;
  animation-delay: 0s;
}
path {
  stroke: #fff;
  fill: #fff;
  stroke-dasharray: 1500;
  opacity: 10;
  animation: animate 1.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.st0 {
  fill: #fff;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.st1 {
  fill: none;
}

.dt0 {
  fill: #000;
  stroke: #000000;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.dt1 {
  fill: none;
}

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1500;
  }

  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1500;
  }

  90% {
    fill: rgba(255, 255, 255, 0);
  }

  100% {
    opacity: 10;
    fill: rgba(255, 255, 255, 10);
    stroke-dashoffset: 0;
  }
}